/* Content First - Mobile First */
    /* General Rules */
    *{
        box-sizing: border-box;
        font-family: 'Segoe UI', 'calibri', 'verdana', sans-serif;

    }
    body,
    h1,
    h2,
    h3,
    .menu{
        margin: 0;
    }
    .btn{
        margin: .5rem;
        border: .1rem solid #eee;
        color: #eee;
        background-color:transparent;
        cursor: pointer;
    }
    .btn:hover{
        color: #8cf;
        background-color: #eee;
    }
    /* Navigation */
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-image: linear-gradient(#8cf, #f8c);
    }
    nav a{
        display: block;
        padding: .5rem;
        color: #eee;
        text-decoration: none;
        text-shadow: 0 0 .5rem #333;
    }
    .menu{
        width: 100%;
        padding: 0;
        list-style: none;
        max-height: 0;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: rgba(51,51,51,0.5);
    }
/* Small Devices - Smartphones */

/* Medium Devices - Tablets */
@media screen and (min-width: 768px) {
    nav .btn{
        display: none;
    }
    .menu{
        display: flex;
        width: auto;
        max-height: 600px;
    }
}

/* Large Devices - Laptops */

/* Extra Large Devices - HD Desktops */
@media  and (min-width: 1200px){
    nav{
        justify-content: space-around;
    }
}